@font-face {
	font-family: "Titillium Web";
	src: url("~assets/fonts/TitilliumWeb-ExtraLight.woff2") format("woff2");
}

$black: black;
$family-sans-serif: "Titillium Web";

@import "~bulma";
@import "~buefy/src/scss/buefy";
